<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method="post" action="/login/auth">
    <p>手机:<input name="phone" value="18616606925"></p>
    <p>密码:<input name="password" type="password" value="qqqqqq"></p>
    <p><input type="submit" value="登录"></p>
</form>

</body>
</html>
